fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
asyncpg
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-dotenv
pillow
opencv-contrib-python
pgvector
google-genai
boto3
aiosmtplib
jinja2
stripe
httpx
python-docx
openpyxl
pandas
faker
docling
pypdfium2
haystack-ai
pgvector-haystack
docling-haystack
nltk
psycopg[pool]
google-auth
google-auth-oauthlib
google-api-python-client
fastapi-cache2
redis
orjson
certifi
