fastapi
uvicorn[standard]
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-dotenv
pillow
opencv-contrib-python
langchain
langchain-google-genai
boto3
aiosmtplib
jinja2
stripe
httpx
python-docx
openpyxl
pandas
faker
docling
nltk
asyncpg
psycopg2-binary
fastapi-cache2
fastapi-cache2[redis]
redis
certifi
pymupdf
mammoth
pytesseract
paddleocr
pypdf
